body {

  margin: 0px;
}

.container {
  width: 600px;
  border: 4px solid black;
}
.top {
  height: 80px;
  background-color: #2bb24c;
  border-bottom: 4px solid black;
}
.middle {
  display: flex;
  height: 120px;
  border-bottom: 4px solid black;
}
.left {
  width: 25%;
  background-color: #00a2e8;
  border-right: 4px solid black;
}

.center {
  width: 35%;
  background-color: #f3e9b7;
  border-right: 4px solid black;
}
.right {
  width: 40%;
  background-color: #b5e61d;
}
.white {
  height: 80px;
  background-color: white;
  border-bottom: 4px solid black;
}
.bottom {
  height: 70px;
  background-color: #cfc9eb;
}
